# macOS
.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode workspace user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
